USE [fairytale]
GO
/****** Object:  Table [dbo].[FairyTales]    Script Date: 1/7/2018 2:56:06 PM ******/
DROP TABLE IF EXISTS [dbo].[FairyTales]
GO
/****** Object:  Table [dbo].[FairyTales]    Script Date: 1/7/2018 2:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FairyTales]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FairyTales](
	[Ftid] [int] IDENTITY(1,1) NOT NULL,
	[Fairytale] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ftid] PRIMARY KEY CLUSTERED 
(
	[Ftid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[FairyTales] ON 
GO
INSERT [dbo].[FairyTales] ([Ftid], [Fairytale]) VALUES (1, N'Vor vielen Jahren jagte einmal im Walde von Shimoda1 der Sohn eines Fürsten.')
GO
INSERT [dbo].[FairyTales] ([Ftid], [Fairytale]) VALUES (2, N'Er hatte das seltene Glück einen schneeweißen Fuchs weiblichen Geschlechts zu fangen.')
GO
INSERT [dbo].[FairyTales] ([Ftid], [Fairytale]) VALUES (3, N'The Time Traveller (for so it will be convenient to speak of him) was expounding a recondite matter to us. His grey eyes shone and twinkled, and his usually pale face was flushed and animated.')
GO
SET IDENTITY_INSERT [dbo].[FairyTales] OFF
GO
