USE [fairytale]
GO
/****** Object:  StoredProcedure [dbo].[InsertFairytale_inmem]    Script Date: 1/7/2018 3:17:53 PM ******/
DROP PROCEDURE [dbo].[InsertFairytale_inmem]
GO
/****** Object:  Table [dbo].[FairyTalesmem]    Script Date: 1/7/2018 3:17:53 PM ******/
DROP TABLE [dbo].[FairyTalesmem]
GO
/****** Object:  Table [dbo].[FairyTalesmem]    Script Date: 1/7/2018 3:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FairyTalesmem]
(
	[Ftid] [int] IDENTITY(1,1) NOT NULL,
	[Fairytale] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,

 CONSTRAINT [PK_ftidmem]  PRIMARY KEY NONCLUSTERED HASH 
(
	[Ftid]
)WITH ( BUCKET_COUNT = 1048576)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  StoredProcedure [dbo].[InsertFairytale_inmem]    Script Date: 1/7/2018 3:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InsertFairytale_inmem]
	@fairytale nvarchar(max)
WITH NATIVE_COMPILATION, SCHEMABINDING
AS
BEGIN ATOMIC WITH
  (TRANSACTION ISOLATION LEVEL = SNAPSHOT,
   LANGUAGE = N'us_english')

	INSERT INTO [dbo].[FairyTalesmem]
           ([Fairytale])
	VALUES
	(	
		@fairytale
	)

END
GO
SET IDENTITY_INSERT [dbo].[FairyTalesmem] ON 
GO
INSERT [dbo].[FairyTalesmem] ([Ftid], [Fairytale]) VALUES (1, N'Vor vielen Jahren jagte einmal im Walde von Shimoda1 der Sohn eines Fürsten.')
GO
INSERT [dbo].[FairyTalesmem] ([Ftid], [Fairytale]) VALUES (2, N'Er hatte das seltene Glück einen schneeweißen Fuchs weiblichen Geschlechts zu fangen.')
GO
INSERT [dbo].[FairyTalesmem] ([Ftid], [Fairytale]) VALUES (3, N'The Time Traveller (for so it will be convenient to speak of him) was expounding a recondite matter to us. His grey eyes shone and twinkled, and his usually pale face was flushed and animated.')
GO
SET IDENTITY_INSERT [dbo].[FairyTalesmem] OFF
GO
